.bienvenidos {
    color: #4972b0;
    font-weight: 900;
}

.apreciado-cliente {
    color: #4972b0;
    font-weight: 900;
}

.registrate {
    font-weight: 700;
}

.parrafo-principal {
    color: black;
    font-weight: 500;
}

.derechos {
    font-size: 8;
}